* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body {
    background-color: rgb(2, 80, 54);
}
.div1 {
    display: grid;
    place-items: center;
}
.div1__h1 {
    font-size: 70px;
    margin-top: 10px;
    background-color: rgb(3, 117, 64);
    padding: 20px 40px;
    border: 3px solid rgb(3, 155, 54);
    border-radius: 20px 0px;
}
.div2 {
    display: grid;
    place-items: center;
}
.div2__h1 {
    font-size: 50px;
    margin-top: 150px;
    background-color: rgb(4, 163, 44);
    padding: 20px 40px;
    border: 3px solid rgb(3, 155, 54);
    border-radius: 20px 0px;
    margin-bottom: 20px;
}
.input-group {
    position: relative;
    margin: 20px 0px;
}
.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgb(3, 212, 20);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.input-group input {
    display: inline;
    position: relative;
    color: rgb(255, 255, 255);
    border: 1.4px solid green;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background-color: rgb(2, 80, 54);
    padding: 5px;
}
.contenedor {
    display: grid;
    place-items: center;
}
.input-submit {
    display: grid;
    place-items: center;
}